version: 2.1

orbs:
  github-maven-deploy: github-maven-deploy/github-maven-deploy@1.0.5
  circleci-maven-release-orb: sonatype-nexus-community/circleci-maven-release-orb@0.0.15

build-and-test-commands: &build-and-test-commands
  mvn-build-test-command: mvn --batch-mode clean verify archetype:integration-test
  mvn-collect-artifacts-command: |
    mkdir -p ~/project/artifacts/junit/
    # no reporting files to collect from archetype:integration-test goal

release-args: &release-args
  ssh-fingerprints: "8d:5d:f4:21:d2:b1:aa:52:93:de:2c:bf:43:ad:64:95"
  context: rso-base
  filters:
    branches:
      only: main

workflows:
  build-branch:
    jobs:
      - github-maven-deploy/build-and-test:
          <<: *build-and-test-commands
          filters:
            branches:
              ignore: main

  run-release:
    jobs:
      - approve-release:
          type: approval
          filters:
            branches:
              only: main
      - circleci-maven-release-orb/run-maven-release:
          requires:
            - approve-release
          <<: *release-args

  release-from-main:
    jobs:
      - github-maven-deploy/build-and-test:
          <<: *build-and-test-commands
          filters:
            branches:
              only: main
      - circleci-maven-release-orb/run-maven-release:
          requires:
            - github-maven-deploy/build-and-test
          <<: *release-args

